<ActionBar title="Chat Demo" class="top-header" style="padding: 0"></ActionBar>

<GridLayout class="body-background" #gl>
    <StackLayout height="100%">
        <ScrollView #sv>
            <IQKeyboardManager.PreviousNextView>
                <GridLayout rows="*, auto" height="100%">
                    <GridLayout row="0" class="chat-content">
                        <ListView #lvMain [items]="_filteredViewMessages" separatorColor="transparent">
                            <ng-template let-item="item">
                                <StackLayout [class]="item.isFromMe ? 'message-right' : 'message-left'">
                                    <Label [text]="item.message" class="message-bubble" textWrap="true"
                                        [class.my-message]="item.isFromMe" [class.their-message]="!item.isFromMe">
                                    </Label>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                    </GridLayout>   
                    <GridLayout row="1" columns="*, auto" verticalAlignment="middle" height="60" class="input-area">
                        <TextView col="0" #messageInput [(ngModel)]="messageText" hint="Type a message..."
                            returnKeyType="send" (returnPress)="onSend()" class="input-field" verticalAlignment="middle"></TextView>
                        <Button col="1" text="Send" class="send-button" (tap)="onSend()" verticalAlignment="middle"></Button>
                    </GridLayout>
                </GridLayout>
            </IQKeyboardManager.PreviousNextView>
        </ScrollView>
    </StackLayout>
</GridLayout>